@media (max-width:1280px){
    .navigation-container{
        max-width: 900px;
    }
    .logo{
        font-size: 24px;
    }
    .nav-tabs,.order-tab .nav-link{
        font-size: 13px;
    }
    .heading{
        font-size: 44px;
    }
    .model{
        font-size: 36px;
    }
    .head,.white-head{
        font-size:34px;
    }
    .para,.white-para{
        font-size: 17px;
    }
    .video-para{
        font-size: 32px;
    }
    .reviewer-comment{
        font-size: 17px;
    }
    .preorder-para{
        font-size: 34px;
    }
}
@media (max-width: 1199px) {
    .navigation-container{
        max-width: 800px;
    }
    .nav{
        gap: 25px;
    }
    .headphone-image{
        max-width: 250px;
        height: 350px;
    }
    .offer-container{
        gap: 80px;
    }
    .discount{
        left: 160px;
        font-size: 18px;
    }    
    .heading{
        font-size: 42px;
    }
    .model{
        font-size: 32px;
    }
    .stream{
        font-size: 19px;
    }
    .off{
        font-size: 13px;
    }
    .offer-para{
        font-size: 14px;
    }
    .bag-icon,.cart-text{
        padding: 10px;
    }
    .cart-text{
        font-size: 13px;
    }
    .box-container,.background{
        margin: 80px auto;
    }
    .box{
        padding: 10px 20px;
        width: 180px;
    }
    .head,.white-head{
        font-size:32px ;
    }
    .para,.white-para{
        font-size: 16px;
    }
    .image{
        max-width:180px;
        height:280px;
    }
    .active-image{
        max-width:200px ;
        height:300px ;
    }
    .small-head{
        font-size: 15px;
    }
    .small-para{
        font-size: 13px;
    }
    .black-headphone{
        max-width: 300px;
        height: 380px;
    }
    .easy-center{
        margin-top: 80px;
        padding-bottom: 80px;
    }
    .video-para{
        font-size:30px;
    }
    .about-headphone{
        gap: 80px;
    }
    .orange-background{
        max-width: 320px;
        height:210px; 
    }
    .attach-headphones{
        max-width: 220px;
        height:320px; 
        left: 30px;
    }
    .design-specifications{
        margin-top: 80px;
    }
    .column1,.column2{
        font-size: 19px;
    }
    .table-column{
        padding: 15px 0;
    }
    .set-background{
        margin-top: 80px;
    }
    .preorder-para{
        font-size: 32px;
    }
    .icon-table{
        max-width: 96%;
    }
    .icon-column{
        max-width: 48%;
        padding: 40px;
    }
    .review{
        margin-top: 80px;
    }
    .comment{
        margin-top: 80px;
        padding-bottom: 80px;
    }
    .comment-image{
        max-width: 300px;
        height: 350px;
    }  
    .reviewer-comment{
        font-size: 16px;
    } 
    .product-content{
        padding-top: 80px;
    }
    .product-image{
        padding-bottom: 80px;
    } 
    .blog-content,.subscribe-content{
        margin-top: 80px;
    }
    .mail-address{
        margin-bottom: 80px;
    }
    .company-head{
        font-size: 19px;
    }
    .company-link{
        font-size: 17px;
    }
    .company-container,.land{
        gap: 60px;
    }
    .container{
        max-width: 950px;
    }
}
@media (max-width: 991px) {
    .container{
        max-width: 720px;
    }
    .navigation-container{
        max-width: 700px;
    }
    .logo{
        padding: 10px;
    }
    .order-button{
        padding: 5px 7px;
    }
    .nav{
        gap: 25px;
    }
    .nav-tabs,.order-tab .nav-link{
        font-size: 12px;
    }
    .offer-container{
        gap: 60px;
        justify-content: end;
    }
    .headphone-image{
        max-width: 220px;
        height: 300px;
    }
    .discount{
        padding: 20px 10px;
    }
    .bag-icon,.cart-text{
        font-size: 12px;
    }
    .box{
        padding: 20px 30px;
        width: 150px;
        height: 180px;
    }
    .background{
        background: none;
    }
    .head,.white-head{
        font-size:30px ;
    }
    .para,.white-para{
        font-size: 15px;
    }
    .image{
        max-width: 150px;
        height: 250px;
    }
    .active-image{
        max-width: 170px;
        height: 270px;
    }
    .slide-icon{
        padding: 10px;
        font-size: 15px;
    }
    .small-head{
        font-size: 14px;
    }
    .small-para{
        font-size: 12px;
    }
    .girl-image{
        max-width: 150px;
        height: 250px;
    }
    .boy-image{
        max-width: 150px;
        height: 200px;
    }
    .child-image{
        max-width:110px ;
        height:100px;
    }
    .icons-images{
        gap: 40px;
    }
    .black-headphone{
        max-width: 250px;
        height: 330px;
    }
    .content{
        max-width: 400px;
    }    
    .easy-center{
        gap: 80px;
    }
    .video-para{
        font-size: 28px;
    }
    .column1,.column2{
        font-size: 18px;
    }
    .about-headphone{
        gap: 60px;
    }
    .icon-column{
        padding: 30px;
    }
    .background-icon{
        font-size:25px;
    }
    .seperate-background{
        width: 30px;
        height: 25px;
    }
    .comment{
        margin-top: 60px;
        gap: 80px;
    }
    .reviewer-comment{
        font-size:15px;
    }
    .reviewer-name,.reviewer-profession{
        font-size: 14px;
    }
    .product-image{
        column-gap: 121px;
    }
    .bluetooth-container{
        height: 270px;
        max-width: 160px;
    }
    .rating-images{
        padding: 10px;
        max-width: 160px;
        height: 170px;
    }
    .star-rating{
        margin: 5px;
        padding-bottom:10px;
    }
    .blog-description-head{
        font-size: 18px;
    }
    .blog-picture{
        max-width: 230px;
        height: 150px;
    }
    .blog-container{
        max-width: 230px;
    }
    .blog-area-container{
        gap: 15px;
    }
    .mail-address{
        margin: 30px 0 80px;
    }
    .subscribe{
        padding: 8px;
        font-size: 13px;
        width: 100px;
    }
    .preorder-para{
        font-size: 28px;
    }
    .preorder-head{
        font-size: 44px;
    }
    .preorder-image{
        max-width: 210px;
        height: 300px;
    }    
    .landing-content{
        max-width: 300px;
    }
    .landing-para{
        font-size: 15px;
    }
    .land{
        gap: 20px;
    }
    .company-head{
        font-size: 17px;
    }
    .company-link{
        font-size: 15px;
    }
    .company-container{
        gap:20px;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: 600px;
    }
    .menu-bar{
        display:flex;
    }
    .navigation-container{
        flex-direction: column;
        justify-content: space-evenly;
        background:linear-gradient(to bottom,white,white,blueviolet);
        color:black;
        border-radius:0 5px 5px 0;
        height:100%;
        width: 300px;
        z-index: 5;
        top: 0%;
        margin: 0;
        position: fixed;
        visibility: hidden;
    }
    .logo{
        color:black;
    }
    .nav{
        flex-direction: column;
        justify-content:space-evenly;
    }
    .nav-link{
        color:black;
    }
    .nav-tabs,.order-tab{
        margin: 10px;
    }
    .menu-bar:hover + .navigation-container{
        visibility: visible;
        transition: visibility 0.1s;
    }
    .offer-container{
        gap: 20px;
        justify-content:center;
        margin-top: 60px;
    }
    .headphone-image{
        max-width: 200px;
        height: 280px;
    }
    .discount{
        left:130px ;
    }
    .heading{
        font-size: 36px;
        margin-top: 10px;
    }
    .model{
        font-size:28px;
    }
    .offer-para{
        margin: 10px 0;
        max-width: 300px;
        line-height: 1.5;
    }
    .box-container{
        margin: 60px auto;
    }
    .box{
        padding: 15px 20px;
        width: 120px;
        height: 150px;
        gap: 10px;
    }
    .icon{
        font-size:25px ;
    }
    .description{
        font-size: 13px;
    }
    .head,.white-head{
        font-size:28px; 
    }
    .para,.white-para{
        font-size:14px ;
    }
    .images-container{
        margin: 30px;
    }
    .image{
        max-width: 130px;
        height: 200px;
    }
    .active-image{
        max-width: 150px;
        height: 220px;
        padding: 10px;
    }
    .slide-button{
        height: 10px;
        width: 10px;
    }
    .easy-center{
        margin-top: 60px ;
        padding-bottom: 60px ;
        gap: 40px;
    }
    .seperate-container{
        align-items: center;
    }
    .black-headphone{
        max-width: 220px;
        height: 280px;
    }
    .left{
        margin-bottom: 30px;
    }
    .content{
        max-width: 350px;
    }
    .video-para{
        font-size: 24px;
    }
    .design-specifications{
        margin-top:60px ;
    }
    .design-center,.about-headphone{
        gap: 30px;
    }
    .orange-background{
        max-width: 270px;
        height: 170px;
    }
    .attach-headphones{
        max-width:170px;
        height: 250px;
    }
    .image-specification{
        height: 250px;
    }
    .column1{
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .column2{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12pt;
    }
    .set-background{
        margin-top: 60px;
    }
    .icon-column{
        padding: 20px;
        gap: 10px;
    }
    .background-icon{
        font-size: 22px;
        bottom: 20px;
    }
    .seperate-background{
        width: 25px;
        height: 20px;
    }
    .comment{
        gap: 30px;
    }
    .comment-image{
        max-width: 250px;
        height:300px;
    }
    .comment-quote{
        max-width: 350px;
    }
    .fa-quote-left{
        font-size: 20px;
        padding: 10px;
    }
    .comment{
        padding-bottom: 60px;
    }
    .product-content{
        padding-top: 60px;
    }
    .product-image{
        column-gap: 70px;
        padding-bottom: 60px;
    }
    .blog-content{
        margin-top: 60px;
    }
    .blog-button{
        padding: 5px 10px;
        font-size: 10px;
    }
    .blog-description-head{
        font-size: 17px;
    }
    .blog-description{
        margin-top: 10px;
    }
    .subscribe-content{
        margin-top: 60px;
    }
    .mail-address{
        margin-bottom:70px;
        margin-top: 20px;
    }
    .preorder-para{
        font-size: 26px;
    }
    .preorder-head{
        font-size: 40px;
    }
    .preorder-image{
        max-width:200px;
        height:250px
    }
    .landing-para{
        font-size: 14px;
        margin-top: 5px;
    }
    .company-head{
        font-size: 16px;
    }
    .company-link{
        font-size: 14px;
    }
    .company-para{
        margin-top: 5px;
    }
    .company-container{
        gap: 10px;
    }
    .land{
        gap: 10px;
    }
    .landing-content{
        max-width:250px;
    }
    .horizontal-rule{
        margin: auto;
    }
    .copyright{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    }
@media (max-width: 640px) {
    .container{
        max-width: 550px;
    }
    .offer-container{
        margin-top: 50px;
        align-items: center;
    }
    .stream{
        font-size: 17px;
    }
    .off{
        padding: 3px 6px;
        font-size: 12px;
    }
    .heading{
        font-size: 30px;
    }
    .model{
        font-size: 24px;
    }
    .offer-para{
        margin: 5px 0;
    }
    .box-container{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    /* .box{
        padding: 10px 15px;
        width: 110px;

    } */
    .description{
        font-size: 12px;
    }
    .background{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .head,.white-head{
        font-size:26px;
    }
    .para,.white-para{
        font-size: 13px;
    }
    .images-container{
        margin: 20px;
    }
    .image{
        max-width: 100px;
        height: 200px;
    }
    .active-image{
        max-width: 130px;
        height: 200px;
    }
    .icons-images{
        gap: 20px;
    }
    .easy-center{
        margin-top: 50px;
        padding-bottom: 50px;
        gap: 20px;
    }
    .easy-image{
        order: 2;
    }
    .content{
        order: 1;
        max-width: 500px;
    }
    .black-headphone{
        max-width: 170px;
        height: 220px;
    }
    .video-para{
        font-size:20px ;
    }
    .play-button{
        padding: 15px 17px;
        font-size: 16px;
    }
    .column1,.column2{
        font-size: 16px;
        padding-top:7px ;
        padding-bottom:7px ;
    }
    .about-headphone{
        gap: 20px;
    }
    .design-specifications{
        margin-top: 50px;
    }
    .attach-headphones{
        max-width: 150px;
        height: 230px;
        left:40px ;
    }
    .small-head{
        font-size: 13px;
    }
    .small-para{
        font-size: 11px;
    }
    .icon-column{
        padding: 15px;
    }
    .set-background{
        margin-top:50px;
    }
    .review{
        margin-top: 50px;
    }
    .comment{
        margin-top: 50px;
        gap: 20px;
        padding-bottom: 50px;
    }
    .comment-image{
        max-width: 200px;
        height: 250px;
    }
    .reviewer-comment{
        font-size: 14px;
    }
    .reviewer-name,.reviewer-profession{
        font-size: 13px;
    }
    .product-content{
        padding-top: 50px;
    }
    .product-image{
        margin-top: 50px;
        padding-bottom: 50px;
        column-gap: 50px;
    }
    .blog-content{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .subscribe-content{
        margin-top: 50px;
    }
    .mail-address{
        margin-bottom: 50px;
    }
    .preorder-head{
        font-size: 36px;
    }
    .preorder-para{
        font-size: 24px;
    }
    .preorder-image{
        max-width:170px ;
        height: 230px;
    }
    .pre{
        height: 300px;
    }
    .company-container{
        gap: 50px;
    }
    .landing-content{
        max-width: 500px;
        text-align: center;
    }
    .landing-para{
        text-align: justify;
    }
    .land{
        justify-content: center;
    }
    .copyright{
        text-align: center;
    }
    }
@media (max-width: 576px) {
    .container{
        max-width: 450px;
    }
    .heading{
        font-size: 26px;
    }
    .model{
        font-size: 20px;
    }
    .bag-icon,.cart-text{
        padding:8px 5px;
        font-size: 10px;
    }
    .box-container{
        /* width: 100%; */
        gap: 30px;
    }
.box{
        padding: 0 20px;
        width: 40%;
    }
    .description{
        font-size: 10px;
    }
    .icon{
        font-size: 20px;
    }
    .video-para{
        font-size: 18px;
    }
    .about-headphone{
        gap: 10px;
    }
    .table-column{
        font-size: 15px;
    }
    .icon-column{
        padding: 10px;
    }
    .comment-quote{
        max-width: 300px;
    }
    .reviewer-comment{
        line-height: 1.5;
    }
    .comment{
        justify-content: center;
    }
    .product-image{
        gap: 20px;
    }
    .preorder-head{
        font-size: 32px;
    }
    .preorder-para{
        font-size: 22px;
    }
    .pre{
        height: 250px;
    }
    .landing-head{
        font-size: 24px;
    }
    .company-container{
        gap: 30px;
    }
    .head,.white-head{
        font-size: 24px;
    }
    }
@media (max-width: 480px) {
    .container{
        max-width: 380px;
    }
    .menu-bar{
        font-size:20px ;
    }
    .headphone-image{
        max-width: 170px;
        height: 250px;
    }
    .stream{
        font-size: 15px;
    }
    .heading{
        font-size: 22px;
    }
    .model{
        font-size: 18px;
    }
    .offer-para{
      max-width: 280px;
    }
    .discount{
        left: 100px;
        font-size: 14px;
        padding: 20px 10px;
    }
    .box-container{
        gap: 30px;
    }
    /* .box{
        padding: 5px;
        height: 100px;
        width: 40%;
    } */
    .image{
        max-width: 90px;
        height: 150px;
    }
    .active-image{
        max-width: 100px;
        height: 160px;
    }
    .slide-button{
        width: 8px;
        height: 8px;
    }
    .slide-container{
        gap: 5px;
    }
    .head,.white-head{
        font-size: 22px;
    }
    .video-para{
        font-size: 16px;
    }
    .girl-image{
        max-width:100px;
        height: 150px;
    }
    .boy-image{
        max-width:100px ;
        height:150px ;
    }
    .child-image{
        max-width:90px ;
        height:80px ;
    }
    .person-images{
        gap: 10px;
    }
    .black-headphone {
        max-width: 150px;
        height: 200px;
    }
    .comment-image{
        max-width: 150px;
        height: 200px;
    }
    .rating-images{
        height: 100px;
        width: 120px;
    }
    .increase-width{
        max-width: 120px;
    }
    .bluetooth-container{
        height: 180px;
        max-width: 120px;
    }
    .product-model{
        font-size: 10px;
    }
    .bag{
        padding: 3px;
        margin-right: 5px;
    }
    .rate,.delete{
        font-size: 10px;
    }
    .product-image{
        place-items: center;
    }  
    .blog-description-head{
        font-size: 15px;
    }  
    .preorder-image{
        max-width: 150px;
        height: 200px;
    }
    .preorder-head{
        font-size:28px
    }
    .preorder-para{
        font-size: 20px;
    }
    .left{
        text-align: center;
    }
    .company-container{
        gap: 20px;
    }
}
@media (max-width: 400px) {
    .container{
        max-width: 340px;
    }
    .offer-container{
        margin-top: 40px;
        gap: 0;
    }
    .headphone-image {
        max-width: 170px;
        height: 230px;
    }
    .heading{
        font-size: 20px;
    }
    .model{
        font-size: 16px;
    }
    .bag-icon,.cart-text{
        font-size: 9px;
    }
    .box-container{
        margin-top: 40px auto;
        gap: 20px;
    }
    .background{
        margin: 40px auto;
    }
    .head,.white-head{
        font-size:20px ;
        text-align: center;
    }
    .image{
        max-width: 80px;
        height: 140px;
    }
    .active-image{
        max-width: 90px;
        height: 150px;
    }
    .icons-images{
        padding-bottom:40px;
    }
    .easy-center{
        margin-top: 40px;
        padding-bottom: 40px;
        gap: 10px;
    }
    .left{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .seperate-container{
        margin-top: 10px;
    }
    .content-icons{
        font-size: 24px;
    }    
    .slide-icon{
        font-size: 14px;
        padding: 9px 10px;
        margin-top: 5px;
    }
    .black-headphone{
        max-width:100px ;
        height:150px ;
    }
    .seperate-background{
        height:20px;
        max-width:25px;
    }
    .design-specifications{
        margin-top: 40px;
    }
    .design-center{
        gap: 10px;
    }
    .small-head{
        font-size: 12px;
    }
    .small-para{
        font-size: 10px;
        text-align: left;
    }
    .icon-column{
        padding: 5px;
    }
    .video-para{
        font-size: 14px;
    }
    .comment-image{
        max-width: 130px;
        height: 180px;
    }
    .review{
        margin-top: 40px;
    }   
    .comment,.product-image{
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .product-content{
        padding-top: 40px;
    }
    .blog-content{
        margin:40px 0;
    }
    .subscribe-content{
        margin-top: 40px;
    }
    .mail-address{
        margin-bottom: 40px;
    }
    .subscribe{
        margin-left:10px;
        font-size:12px;
        width: 80px;
    }
    .mail::placeholder{
        font-size: 12px;
    }   
    .preorder-head{
        font-size: 24px;
    } 
    .preorder-para{
        font-size: 18px;
    }
    .preorder-image{
        max-width: 120px;
        height: 170px;
        transform: rotate(10deg);
    }
    .company-container{
        gap: 10px;
    }
    .landing-page{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .play-button{
        font-size: 14px;
        padding: 8px 10px;
    }
    .icon-column{
        width: 100%;
        flex-direction: column;
    }
    .pre{
        height: 200px;
    }
    .company-para{
        margin: 0;
    }

}
@media(max-width:350px){
    .container{
        max-width: 280px;
    }
    .heading{
        font-size:18px;
    }
    .model{
        font-size: 14px;
    }
    .stream{
        font-size: 14px;
    }
    .off{
        font-size: 11px;
        padding: 2px;
    }
    .offer-para{
        max-width: 250px;
    }
    .active-image{
        max-width:70px;
        height: 130px;
        padding: 5px;
    }
    .head,.white-head{
        font-size:18px;
    }
    .preorder-image{
        max-width: 100px;
        height: 150px;
    }
    .images-container{
        margin: 10px;
    }
    .day-content{
        gap: 10px;
    }
    .video-para{
        font-size: 14px;
    }
    .attach-headphones {
        max-width: 150px;
        height: 200px;
    }
    .table-column{
        font-size: 14px;
    }
    .company-head{
        font-size: 15px;
    }
    .company-link,.copyright{
        font-size: 13px;
    }
    .company-container{
        column-gap: 45px;
        justify-content: center;
    }
    .landing-head{
        font-size: 20px;
    }
    .copyright{
        margin: 2px;
    }
    .pre{
        height: 180px;
    }
}